# Scrapping NEWS from websites

#

In [1]:
from bs4 import BeautifulSoup as soup
import requests
import pandas as pd

#

# Scrapping from THE HINDU website

##

In [2]:
r=requests.get("https://www.thehindu.com/news/cities/chennai/")
b=soup(r.content)

In [4]:
link=[]
for i in b.findAll('h3',{"class":"title"}):
    link.append(i.a['href'])

In [6]:
news={"title":[],"news":[]}
for i in link:
    req=requests.get(i)
    blog=soup(req.content)
    for h in blog.findAll("h1"):
        news['title'].append(h.text)
    for h in blog.findAll('p'):
        a=(h.text.strip())
    news["news"].append(a)

In [8]:
news = pd.DataFrame.from_dict(news)

In [9]:
news.head(5)

,title,news
0,\nTwo motorists killed in separate accidents i...,We have migrated to a new commenting platform....
1,\nKauvery Hospital organises run to spread awa...,We have migrated to a new commenting platform....
2,\nOver 90 species of birds spotted in city\n,We have migrated to a new commenting platform....
3,\n5-year-old girl dies after iron gate falls o...,We have migrated to a new commenting platform....
4,"\nCity to have 30,000 new digitally printed st...",We have migrated to a new commenting platform....

#

# Scrapping from INDIA TODAY  website

#

In [10]:
r=requests.get("https://www.indiatoday.in/cities/chennai-news")
b=soup(r.content)

In [12]:
link=[]
for i in b.findAll('div',{"class":"B1S3_content__wrap__9mSB6"}):
    a="https://www.indiatoday.in"+(i.a['href'])
    link.append(a)

In [16]:
news={"title":[],"news":[]}
for i in link:
    req=requests.get(i)
    blog=soup(req.content)
    for h in blog.findAll("h1"):
        news['title'].append(h.text)
    for h in blog.findAll('div',{'class':'jsx-99cc083358cc2e2d Story_description__fq_4S description'}):
        a=(h.text.strip())
    news["news"].append(a)

In [21]:
news = pd.DataFrame.from_dict(news)

In [22]:
news.head(5)

,title,news
0,Chennai techie dies after wall of dilapidated ...,By Shilpa Nair: A 22-year-old woman died in Ch...
1,Metro bus conductor suspended in Chennai for b...,By Pramod Madhav: A Chennai Metro bus conducto...
2,Joy of Jallikattu: Tamil Nadu decks up for cen...,By Pramod Madhav: A Chennai Metro bus conducto...
3,Tamil Nadu Governor RN Ravi walks out of Assem...,By India Today Web Desk: Tamil Nadu Governor R...
4,Race car driver in Chennai dies after losing c...,By Pramod Madhav: A professional car racer fro...

#

# Scrapping from NDTV  website

#

In [23]:
r=requests.get("https://www.ndtv.com/chennai-news")
b=soup(r.content)

In [28]:
link=[]
for i in b.findAll('h2',{"class":"newsHdng"}):
    link.append(i.a['href'])

In [32]:
news={"title":[],"news":[]}
for i in link:
    req=requests.get(i)
    blog=soup(req.content)
    for h in blog.findAll("h1"):
        news['title'].append(h.text)
    for h in blog.findAll('div',{'class':'sp-cn ins_storybody'}):
        a=(h.text.strip())
    news["news"].append(a)

In [35]:
news = pd.DataFrame.from_dict(news)

In [36]:
news.head(5)

,title,news
0,Our Struggle Against Hindi Imposition Will Co...,Tamil Nadu CM alleged that the BJP government ...
1,Judges' Appointment Body Pushes For Advocate ...,Advocate R John Sathyan has been recommended f...
2,Che Guevara's Daughter In Chennai To Attend C...,Aleida Guevara was accorded a warm welcome at ...
3,"Rs 17,000-Crore Bengaluru-Chennai Expressway ...","""By February 2023, the Bengaluru-Mysuru Highwa..."
4,Chennai Police Arrest 2 DMK Members For Sexua...,The two accused have been arrested by police. ...